

.card-inner {
     width: 10rem;
     height: 10rem;
     position: relative;
     transition: transform 0.6s;
     transform-style: preserve-3d;
     border-radius: 8px;
   }
   
   .card-front {
     width: 10rem;
     position: absolute;
     backface-visibility: hidden;
     transform: rotateY(0deg);
   }
   .card-back {
     transform: rotateY(180deg);
     background: #a7588b; 
     width: 10rem;
     height: 10rem;
     backface-visibility: hidden;
   }
   .card-front img{
     width: 100%; 
     object-fit: cover; 
     border-radius: 8px;
   }
   
   .card-inner.is-flipped {
     transform: rotateY(180deg);
   }


