.game-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}



h1 {
  color: rgb(226, 118, 150);
  
}
body {
  background-image: url('.assets/images/back.png');}
.menu-player {
  display: flex;
  padding: 1rem;
  max-width: fit-content;
  gap:2rem;
  margin-bottom: 2rem;
  
}



.header-container {
  display: flex;    
         
  justify-content: space-between; 
  align-items: center;       /* Aligne verticalement les enfants au centre du conteneur */
  margin-bottom: 20px;   

  border: 4px solid transparent; /* Crée une bordure vide initialement */
  border-radius: 8px;           
  background: linear-gradient(90deg, #A7D6DC 0%, #99CFD6 80%);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  padding: 5px;                  /* Espacement pour la bordure */
  display: inline-block;         /* Ajuste la taille du conteneur à celle de la carte */



}

.menu-player, .scoreboard {
  flex: 1;                    /* Assigne une largeur égale aux deux colonnes */
  display: flex;             
  justify-content: center;   
}

/* Conteneur de la bordure dégradée */
.menu-container {
}